.footer {
    background-color: white;

    &__title {
        color: $raspberry;
        font-weight: 500;
        font-size: 1.25rem;
    }
    &__sl {
        font-family: $playfair;
        color: $raspberry;
        font-size: 1.5rem;
    }
    .svg {
        &__circle {
            fill: $orange;
        }
        &__rectangle {
            fill: $yellow;
        }
        &__para {
            fill: $raspberry;
        }
    }
    .contact {
        &__name {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.5px;
            font-size: 1.125rem;
            margin-bottom: 0.25em;
        }
        &__phone {

        }
        &__address {
            margin: 0.25em 0;
        }
        &__mail {
            font-weight: 500;
            font-style: italic;
            transition: 0.2s ease-in-out;
            &:hover, &:focus {
                color: $raspberry;
            }
        }
    }
}
