.program {
    &__expos {
        border: 4px solid $raspberry;
        background-color: white;
        @include subtleShadow($raspberryShadow)
        .program__subtitle {
            color: $raspberry;
        }
    }
}
