.program {
    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2rem;
        &--artists {
            color: $raspberry;
        }
    }
}
