.intro {
    font-size: 1.25rem;
    line-height: 1.7;
    &__content {
        margin-bottom: 1.5rem;
        text-align: left;
    }
    &--home {
        background-color: white;
        border: 4px solid $raspberry;
    }
}
