.artists {
    &__inner {

    }

    &__list {
        font-size: 0;
        max-width: $max-width;
        width: 100%;
        margin: 0 auto;
        // translate : see components artists (skew)
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin: 0 0 2rem 2.5%;
        width: 22.5%;
        position: relative;
        background-color: $black;
    }
}
