.header {
    background-color: $raspberry;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    //position: fixed;
    &__main-title {
        margin-bottom: 2.5em;
    }
}

// Logo


// Réseaux sociaux

.l-social-nav {
    order: -1;
    margin: 1em auto;
    max-width: $max-width;
    width: $max-width;
    &__list {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        fill: white;
        //box-sizing: content-box;
        svg {
            width: 3em;
            //border: 2px solid transparent;
            //border-radius: 100%;
            //padding: 0;
            //transition: 0.1s ease-out;
        }
        .circle {
            stroke: transparent;
            stroke-width: 5px;
            fill: transparent;
            transform-origin: 50% 50%;
            transition: 0.2s ease-out;
        }
        &:hover, &:focus {
            .circle {
                stroke: white;
                transform: scale(1.4);
            }
        }
    }
}

// Navigation principale

.l-main-nav {
    max-width: $max-width;
    width: $max-width;
    margin-bottom: 5em;
    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
